* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Cooper_Hewitt-Heavy';
    src: url('/fonts/cooperhewitt-heavy-webfont.woff2') format('woff2'),
         url('/fonts/cooperhewitt-heavy-webfont.woff') format('woff'),
         url('/fonts/cooperhewitt-heavy-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rotulista';
    src: url('/fonts/rotulista-regular-webfont.woff2') format('woff2'),
         url('/fonts/rotulista-regular-webfont.woff') format('woff'),
         url('/fonts/rotulista-regular-webfont.ttf') format('truetype');
    font-weighfontst: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cooper_hewittsemibold';
    src: url('/fonts/cooperhewitt-semibold-webfont.woff2') format('woff2'),
         url('/fonts/cooperhewitt-semibold-webfont.woff') format('woff'),
         url('/fonts/cooperhewitt-semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Cooper_Hewitt-Bold';
    src: url('/fonts/cooperhewitt-bold-webfont.woff2') format('woff2'),
         url('/fonts/cooperhewitt-bold-webfont.woff') format('woff'),
         url('/fonts/cooperhewitt-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-Regular';
    src: url('/fonts/lato-regular-webfont.woff2') format('woff2'),
         url('/fonts/lato-regular-webfont.woff') format('woff'),
         url('/fonts/lato-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Light';
    src: url('/fonts/lato-light-webfont.woff2') format('woff2'),
         url('/fonts/lato-light-webfont.woff') format('woff'),
         url('/fonts/lato-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-500: 092543;
    --action-500: #1AC9C7;
    --link-500: #E64169;
    --link-700: #EB6F99;
    --neutral-500: #F7CFDB;
    --neutral-700: #FDE7EE;
    --neutral-900: #FDF7F9;
}

body {
    background-color: var(--neutral-700);
    background-image: url("/images/back.svg");
    background-repeat: repeat;
    overflow-x: hidden;
    position: relative;
    min-height: 100%;
    min-height: 100vh;
}

h1, h2, li {
    color: var(--neutral-900);
}

.single a {
    color: var(--primary-500);
}

a {
    color: var(--link-500);
}

h3, p, figcaption {
    color: var(--primary-500);
}

h1 {
    font-family: Cooper_Hewitt-Heavy;
    font-size: 2.5em;
    line-height: 0.9em;
}

@media(min-width: 950px) {
    h1 {
        font-size: 4em;
    }
}

h2 {
    font-family: Cooper_Hewitt-Bold;
    font-size: 1.5em;
}

h3 {
    font-family: Cooper_Hewitt-Bold;
    position: relative;
    font-size: 2.25em;
    padding: 0.5em;
    transition: 0.25s ease;
}

p, li, a {
    font-family: Rotulista;
    font-size: 1.2em;
}

p {
    line-height: 1.3em;
}

figcaption {
    font-family: Lato-Light;
    line-height: 1.5em;
}

figcaption a svg {
    vertical-align: text-top;
    fill: var(--link-500);
}

ul {
  list-style-type: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.nav__ul--small {
    display: inline-block;
    vertical-align: middle;
}

.nav__li--small {
    display: inline-block;
}

.nav__a {
    font-size: 1.2em;
    color: var(--neutral-900);
    display: block;
    text-decoration-color: rgba(254, 250, 251, 0.7);
}

.nav__a:hover {
    color: var(--link-500);
    text-decoration-color: rgba(230, 65, 105, 1);
}

.nav--small svg {
    height: 58px;
    width: auto;
}

.nav--small path {
    -webkit-transition: 0.25s ease;
    -o-transition: 0.25s ease;
    transition: 0.25s ease;
}

.nav__logo--small:hover path {
    fill: var(--link-500);
}

.nav--small {
    width: 93%;
    width: 95vw;
    max-width: 1920px;
    margin: 0 auto 1em auto;
    padding-top: 8px;
}

.nav__a--small {
    padding: 16px;
    color: var(--neutral-900);
    transition: 0.2s ease;
}

.nav__li--small {
    display: inline-block;
    padding: 0 1em;
}

main {
    z-index: 2;
    position: relative;
}

a[href^="mailto:"] {
    color: var(--link-500);
}

figcaption a {
    color: var(--link-500);
}

.single h1 {
    text-align: center;
}

.single p {
    text-align: center;
}

svg {
    vertical-align: middle;
}

.grid {
    width: 90%;
    width: 90vw;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, -webkit-min-content) repeat(19,21vh);
    grid-template-rows: repeat(2, min-content) repeat(19,21vh);
    grid-gap: 2em;
    padding: 2.55%;
    padding: 2.55vw;
    max-width: 1920px;
    margin: 0 auto;
}

.header--home {
    grid-row: span 2;
    display: grid;
    grid-gap: 1em;
    width: 100%;
    height: 100%;
}

.logo {
    max-width: 45%;
}


.header__items--home {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
}

.spacer {
    position: absolute;
    z-index: -1;
    display: block;
    background-size: cover;
}

.spacer + .spacer {
    top: 0;
    left: 0;
}

.spacer-home + .spacer-home {
    width: 69.5%;
    width: 69.5vmax;
    height: 66%;
    height: 66.5vmax;
    min-height: 45em;
    min-width: 48em;
    background-image: url("/images/one.svg");
    max-width: 100%;
    max-width: 100vw;
}

.spacer-home {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 69.5%;
    width: 69.5vmax;
    height: 43%;
    height: 43vmax;
    min-height: 30em;
    min-width: 48em;
    background-image: url("/images/two.svg");
}

.overflow {
    overflow-x: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}


.thumbnail__wrap {
    margin: 15px;
    width: 300px;
    height: 500px;
    display: inline-block;
    vertical-align: middle;
    color:  var(--primary-500);
    text-decoration-color: rgba(9, 37, 67, 0.8);
    transition: ease 0.25s;
}

@supports (display:grid) {
    .thumbnail__wrap {
        margin: 0;
        grid-row: span 3;
        width: 100%;
        height: 100%;
        display: block;
    }
}

.thumbnail__wrap:hover, .thumbnail__wrap:hover h3{
    color:  var(--link-500);
    text-decoration-color: rgba(230, 65, 105, 1);
}

.thumbnail, .Personal > figure {
    height: 100%;
    width: 100%;
    display: grid;
    overflow: hidden;
    grid-template-rows: 1fr -webkit-max-content,;
    grid-template-rows: 1fr max-content;
}

.thumbnail {
    grid-row: span 3;
    background-color: rgba(254, 250, 251,1);
    position: relative;
    transition: 0.25s ease;
    grid-template-rows: -webkit-max-content 1fr;
    grid-template-rows: max-content 1fr;
    border-radius: 5%;
    box-shadow: 3px 10px 41px -14px rgb(176 172 174 / 61%);
}

.thumbnail:after {
    content: "";
    background-color: rgba(254, 250, 251,1);
    height: 200%;
    width: 200%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-position: 25px -25px;
    background-size: 300px;
    background-image: url("/images/dot.svg");
    background-repeat: repeat;
    transition: 0.25s ease;
}

.thumbnail:hover {
    background-color: rgba(254, 250, 251,0);
}

.thumbnail:hover:after {
    background-position: 0;
    animation: slide 7.5s linear infinite;
    animation-delay: 0.25s;
}

.thumbnail__image {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 110%;
}

.expandableContent {
    display: block;
    max-width: 100%;
    /*max-height: 100vh;*/
    position: relative;
    object-fit: contain;
    cursor: -moz-zoom-in;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
}

.expandableContent {
    transition: ease 0.25s;
}

.expandableContent:hover {
    filter: brightness(0.8);
}

@keyframes slide {
    from {
        transform: translate3d(0, 0, 0);
        }
    to {
        transform: translate3d(-50%, 50%, 0);
        }
}


nav {
    grid-column: 1;
    grid-row: 3/4;
}

#top {
    grid-column: -1/-2;
    grid-row: auto;

}

#bottom {
    grid-column: 1/2;
    grid-row: auto;
}

footer {
    grid-row: span 2;
    align-self: end;
    justify-self: end;
}

@media(min-width:635px) {
    h1 {
        font-size: 4.5em;
    }
    .grid {
        width: -moz-fit-content;
        width: fit-content;
        padding: 4rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, -webkit-min-content) repeat(11,21vh);
        grid-template-rows: repeat(2, min-content) repeat(11,21vh);
    }
    .header--home {
        grid-column: span 2;
        grid-template-columns: minmax(-webkit-min-content, -webkit-max-content) -webkit-min-content;
        grid-template-columns: minmax(min-content, max-content) min-content;
        grid-template-rows: 1fr;
    }
    .logo {
        height: 22vw;
        max-width: none;
    }
    .header__items--home {
        justify-self: center;
        width: auto;
    }
    #top {
        grid-column: -1/-2;
        grid-row: span -2/-3;
    }

    #bottom {
        grid-column: 1/2;
        grid-row: 3/4
    }
    
}

@media(min-width:775px) {
    .spacer-home + .spacer-home {
        min-width: 58em;
        min-height: 55em;
    }
    .spacer-home {
        min-width: 58em;
        min-height: 36em;
    }
}

@media(min-width:1080px) {
    .grid {
        grid-template-columns: 22vw 22vw 22vw;
        grid-template-rows: repeat(9, calc(10vw - 1rem));
        grid-gap: 2rem;
    }
    
    #top {
        grid-column: -1/-2;
        grid-row: 1/2
    }
}

@media (min-height:1080px) {
    .grid {
        grid-template-rows: repeat(2, -webkit-min-content) repeat(19,200px);
        grid-template-rows: repeat(2, min-content) repeat(19,200px);
    }
}


@media(min-width:635px) and (min-height:1080px) {
    .grid {
        grid-template-rows: repeat(2, -webkit-min-content) repeat(11,200px);
        grid-template-rows: repeat(2, min-content) repeat(11,200px);
    }
}


@media(min-width:1080px) and (min-height:1080px) {
    .grid {
        grid-template-rows: 150px repeat(8,200px);
    }
}

.work-h1 {
    color: var(--link-500);
}

.work-h2 {
    font-size: 2.25em;
    color: var(--primary-500);
}

.work-p-header {
    padding-top: 1em;
}

.work__ul {
    padding-left: 2em;
    padding-top: 1em;
}

.work__ul li{
    color: var(--primary-500);
    list-style-type: initial;
    line-height: 1.4em;
}

.work__btn {
    border-radius: 50px;
    background-color: var(--link-500);
    color: var(--neutral-900);
    padding: 1em 2em;
    border: none;
    transition: 0.35s;
}

.work__btn svg {
    fill: var(--neutral-900);
}

.work__btn:hover {
    background-color: var(--link-700);
}

#modalCaption a, .work a {
    color: var(--link-700);
}

a svg {
    fill: var(--link-500);
}

.Personal figcaption {
    text-align: center;
}

.work__section--main {
    background-color: var(--brand-main);
}

.work__section--accent {
    background-color: var(--brand-accent);
}

.work__section {
    grid-gap: 1em;
    padding: 1em 10vw;
    display: grid;
    grid-template-columns: 1fr;
}

.work__h1 {
    color: var(--link-500);
}

.work__header {
    background-color: var(--neutral-900);
}

.work__div--header {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
    column-gap: 1rem;
    padding: 2em 10vw 4em 10vw;
}

.work__main {
    max-width: 2040px;
    margin: 0 auto;
    padding-bottom: 1em;
    margin-bottom: 2em;
    box-sizing: border-box;
}

@media(min-width: 768px) {
    .work__section {
        grid-column: span 2;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-flow: dense;
    }
    .work__header {
        -webkit-clip-path: url(#mask);
        clip-path: url(#mask);
    }
    .work__div--header {
        grid-template-columns: 1fr 1fr;
        padding: 2em 10vw 4em calc(34vw + 2em);
    }
    .work__div {
        grid-column: 3/4;
    }
    .work__p {
        grid-column: 3/4;
    }
}

header.Personal + section article figure:nth-child(1) {
    margin-top: 1.5em;
}

.work__div {
    display: grid;
    grid-template-rows: min-content;
    grid-gap: 1rem;
}
.spacer-small + .spacer-small{
    width: 43.57vmax;
    max-width: 100vw;
    min-width: 20em;
    height: 41%;
    height: 41.57vmax;
    min-height: 19em;
    background-image: url("/images/three.svg");
}

.spacer-small {
    bottom: -2em;
    right: -1px;
    width: 34%;
    width: 34vmax;
    height: 21%;
    height: 21vmax;
    min-height: 12em;
    min-width: 20em;
    background-image: url("/images/four.svg");
}

.work-b {
    display: none;
}

@media(min-width:950px) {
    .work-b {
        display: block;
        height: 40vh;
        height: 40vmin;
    }
}

.workGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
    grid-template-rows: repeat(auto-fill, 200px);
    
}

.expandableContent-personal {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.work__figure {
    justify-self: center;
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
    display: grid;
    grid-template-rows: max-content 1fr;
    grid-gap: 0.5rem;
}

.expandBtn, #close {
    position: absolute;
    background-color: rgba(251, 233, 238, 0.2);
    bottom: 1.5em;
    right: 1.25em;
    left: calc(100% - 5rem);
    border-radius: 50%;
    margin-top: 0;
    padding: 0;
    height: 3.5rem;
    width: 3.5rem;
    -webkit-transition: 0.25s ease;
    -o-transition: 0.25s ease;
    transition: 0.25s ease;
    border: none;
}

.expandBtn {
    grid-row: 1/2;
}

.gridDense .expandBtn {
    position: absolute;
    bottom: 1.5em;
}

.work__figure:hover .expandBtn, .expandBtn:hover, #close:hover, #next:hover svg, #previous:hover svg {
    background-color: #1ac9c7;
}

.workGrid img, .gridDense img {
    width: auto;
    -o-object-fit: cover;
    object-fit: cover;
}

@supports (display: grid) {
    .workGrid img, .gridDense img {
        width: 100%;
    }
}

.gridDense {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    grid-auto-flow: dense;
    grid-gap: 1em;
    margin: 0 auto 2em auto;
    max-height: initial;
    width: 100%;
}

.center {
    justify-self: center;
    margin: 0 auto;
    text-align: center;
}

.Personal .tall {
    grid-row: span 2;
}
.align-top {
    align-self: start;
}

.align-bottom {
    align-self: end;
}

.col-2 {
    grid-column: span 1;
}

.col-3 {
    grid-column: span 1;
}

.col-right {
    grid-column-end: unset;
}

.col-left {
    grid-column-end: 0;
}

@media(min-width:768px) {
    .col-2 {
        grid-column: span 2;
    }
    .col-3 {
        grid-column: span 3;
    }
    .col-right {
        grid-column-end: -1;
    }
}

@media (min-width:950px) {
    .medium {
        grid-row: span 2;
    }
    .tall {
        grid-row: span 3;
    }
    .wide {
        grid-column: span 2;
        /*width: 80vw;*/
    }
    .Personal .wide {
        grid-row: span 2;
    }
}

.right {
    justify-self: center;
}

.left {
    justify-self: center;
}


@media (min-width:950px) {
    .right {
        justify-self: end;
    }
    
    .left {
        justify-self: start;
    }
    
    .top {
        align-self: start;
    }
    
    .bottom {
        align-self: end;
    }
}

.quarter {
    max-width: 45%;
    max-height: 130%;
    max-height: 130vh;
    -o-object-fit: contain;
    object-fit: contain;
}

.half {
    max-width: 45%;
    vertical-align: top;
}

.third {
    max-width: 60%;
    max-height: 130%;
    max-height: 130vh;
    -o-object-fit: contain;
    object-fit: contain;
}

.twoThird {
    max-width: 75%;
    max-height: 130vh;
    max-height: 130vh;
    -o-object-fit: contain;
    object-fit: contain;
}

.full {
    max-width: 96%;
}

audio {
    margin-left: 4rem;
}

@media(min-width:950px) {
    iframe {
        grid-column: span 2;
    }
    .quarter, .third, .twoThird, .half {
        max-width: 100%;
    }
}

@media(min-width:950px) {
    .work-h2 {
        padding: 0.5em 0 0 0;
    }
    .work-h2 + p {
        padding: 0 0;
    }
}

.single-main {
    display: grid;
    margin: 0 auto;
    background-color: var(--neutral-900);
    padding: 1.5em;
    max-width: 85%;
    max-width: 85vw;
}

.single-h1, .single-h2 {
    color: var(--primary-500);
}

#modal {
    display: none;
    position: absolute;
    top: 0;
    padding: calc(4em + 56px) 0 1em 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--neutral-700);
    box-sizing: border-box;
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
}

#modalImg, #modalVideo {
    display: none;
    margin: auto;
    max-width: 95vw;
    cursor: -moz-zoom-auto;
    cursor: -webkit-zoom-auto;
    cursor: auto;
}

#modalVideo {
    /*max-height: 100%;*/
}

#modalCaption {
    margin: auto;
    display: block;
    color: var(--primary-500);
    width: fit-content;
    padding: 1em;
    font-family: Lato-Regular;
}

#modal button {
    position: fixed;
}

#close {
    right: 1%;
    top: 1em;
    z-index: 3;
}

#previous, #next {
    height: 100%;
    bottom: 0;
    border-radius: 0;
    margin-top: 0;
    padding: 0;
    width: 3.5rem;
    background-color: rgba(0,0,0,0);
    border: none;
}

#previous:focus, #next:focus {
    outline: none;
}

#previous:focus svg, #next:focus svg{
    outline-style: auto;
}

#previous {
    left: 1%;
}

#next {
    right: 1%;
}

#next > svg, #previous > svg {
    border-radius: 50%;
    height: 3.5rem;
    width: 3.5rem;
    background-color: rgba(251, 233, 238, 0.2);
    -webkit-transition: 0.25s ease;
    -o-transition: 0.25s ease;
    transition: 0.25s ease;
}

#close:hover, #close:focus, #previous:hover, #previous:focus, #next:hover, #next:focus {
  cursor: pointer;
}

.about {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(3, minmax(30ch, 40ch));
    grid-gap: 1em;
    width: 40ch;
    margin: 0 auto;
    overflow: hidden;
}

.about__section, .about__h1 {
    background-color: var(--neutral-900);
    padding: 1.25rem;
    width: 100%;
    box-sizing: border-box;
}

.about__h1 {
    font-siZe: 1.5em;
    line-height: 1.2em;
    padding: 2rem 1.25rem;
}

.about__h1, .about__h2 {
    color: var(--primary-500);
}

.about__p {
    padding-left: 1em;
    text-indent: -1em;
}

.about__p--question+.about__p {
    margin-bottom: 1em;
}

.about__p+.about__h2 {
    margin-top: 1.5em;
}

.about__img {
    height: 60vh;
    min-height: 485px;
    max-height: 500px;
    width: 100%;
    object-fit: cover;
}

.about__img--center {
    object-position: left;
    display: none;
}
.about__img--left {
    object-position: left;
    display: none;
}

@supports(pointer-events:none) {
    .about__svg {
        z-index: 2;
    }
    
    .about__svg {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 50%;
        transform-origin: center;
    }
    
    .about__svg--one, .about__svg--three {
        display: none;
    }
    
    
    .about__svg--two {
        transform: scale(1.2) translate(-5%, 65rem);
    }

}

@media(min-width:635px) {
    .about {
        display: grid;
        grid-template-columns: repeat(2, minmax(30ch, 40ch));
        width: -moz-fit-content;
        width: fit-content;
    }
    .about__column--one {
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .about__column--three {
        grid-row: 2/3;
        grid-column: 1/2;
    }
    .about__column--two {
        grid-column: 2/3;
        grid-row: 1/3;
    }
    .about__img--right {
        object-position: left;
    }
    .about__img--center {
        display: block;
        object-position: center;
    }
    .about__img--left {
        diplay: none;
        object-position: left;
    }
    .about__svg--one {
        transform: scale(0.85) translate(-142%, 41rem);
        display: block;
    }
    .about__svg--two {
        transform: scale(1.2) translate(18%, 39rem);
    }
}

@media(min-width:950px) {
    .about {
        grid-template-columns: repeat(3, minmax(30ch, 40ch));
        -webkit-clip-path: url(#mask);
        clip-path: url(#mask);
    }

    .about__section--three {
        min-height: 22em;
    }

    .about__column--one, .about__column--two, .about__column--three {
        grid-row: span 1;
        grid-column: span 1;
    }
    .about__img--right {
        object-position: right;
    }
    .about__img--center {
        object-position: center;
    }
    .about__img--left {
        display: block;
        object-position: left;
    }
    .about__svg--one {
        transform: scale(0.85) translate(-185%, 18rem);
    }
    .about__svg--two {
        transform: scale(0.85) translate(18%, 46rem);
    }
    .about__svg--three {
        transform: scale(0.85) translate(147%, 34rem);
        display: block;
    }
}

.light {
    color: var(--neutral-900);
}

.SparkNotes {
    --brand-main: #0278C7;
    --brand-accent: #F7F7F7;
}

.Citi {
    --brand-main: #022EB3;
    --brand-accent: #00EBFF;
}

.Jiffy {
    --brand-main: #AB3535;
    --brand-accent: #F3C249;
}

.FinalStraw {
    --brand-main: #3a7685;
    --brand-accent: #6d95fe;
}

.Loteria {
    --brand-main: #FFC9CF;
    --brand-accent: #FFE443;
}

.LASO {
    --brand-main: #F8F0EC;
    --brand-accent: #D8491F;
}

.Personal {
    --brand-main: var(--neutral-900);
    --brand-accent: var(--primary-500);
}

.Cox {
    --brand-main: #00A846;
    --brand-accent: #00AAF4;
}

.Choose-Chicago {
    --brand-main: #41B6E6;
    --brand-accent: #005B99;
}

.Neosporin {
    --brand-main: #296768;
    --brand-accent: #F5B346;}