* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Cooper_Hewitt-Heavy';
    src: url('fonts/cooperhewitt-heavy-webfont.woff2') format('woff2'),
         url('fonts/cooperhewitt-heavy-webfont.woff') format('woff'),
         url('fonts/cooperhewitt-heavy-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rotulista';
    src: url('fonts/rotulista-regular-webfont.woff2') format('woff2'),
         url('fonts/rotulista-regular-webfont.woff') format('woff'),
         url('fonts/rotulista-regular-webfont.ttf') format('truetype');
    font-weighfontst: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cooper_hewittsemibold';
    src: url('fonts/cooperhewitt-semibold-webfont.woff2') format('woff2'),
         url('fonts/cooperhewitt-semibold-webfont.woff') format('woff'),
         url('fonts/cooperhewitt-semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Cooper_Hewitt-Bold';
    src: url('fonts/cooperhewitt-bold-webfont.woff2') format('woff2'),
         url('fonts/cooperhewitt-bold-webfont.woff') format('woff'),
         url('fonts/cooperhewitt-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Medium';
    src: url('fonts/lato-medium-webfont.woff2') format('woff2'),
         url('fonts/lato-medium-webfont.woff') format('woff'),
         url('fonts/lato-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('fonts/lato-regular-webfont.woff2') format('woff2'),
         url('fonts/lato-regular-webfont.woff') format('woff'),
         url('fonts/lato-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Black';
    src: url('fonts/lato-black-webfont.woff2') format('woff2'),
         url('fonts/lato-black-webfont.woff') format('woff'),
         url('fonts/lato-black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Light';
    src: url('fonts/lato-light-webfont.woff2') format('woff2'),
         url('fonts/lato-light-webfont.woff') format('woff'),
         url('fonts/lato-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('fonts/lato-bold-webfont.woff2') format('woff2'),
         url('fonts/lato-bold-webfont.woff') format('woff'),
         url('fonts/lato-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-500: 092543;
    --action-500: #1AC9C7;
    --link-500: #E64169;
    --neutral-500: #F8D3DF;
    --neutral-700: #FDE2EB;
    --neutral-900: #FCEEF2;
}

body {
    background-color: var(--neutral-700);
    background-image: url("images/back.svg");
    background-repeat: repeat;
    overflow-x: hidden;
    position: relative;
    min-height: 100%;
    min-height: 100vh;
}

h1, h2, li, a {
    color: var(--neutral-900);
}

.single a, .double a {
    color: var(--primary-500);
}

a:hover {
    color: var(--link-500);
}

h3, p, figcaption {
    color: var(--primary-500);
}

h1 {
    font-family: Cooper_Hewitt-Heavy;
    font-size: 2.5em;
    line-height: 0.9em;
}

@media(min-width: 950px) {
    h1 {
        font-size: 4em;
    }
}

h2 {
    font-family: Cooper_Hewitt-Bold;
    font-size: 1.5em;
}

h3 {
    font-family: Cooper_Hewitt-Bold;
    position: relative;
    font-size: 2.25em;
    padding: 0.5em;
    transition: 0.25s ease;
}

p, li {
    font-family: Rotulista;
    font-size: 1.2em;
}

p {
    line-height: 1.4em;
}

figcaption {
    font-family: Lato-Light;
    padding-bottom: 1em;
    line-height: 1.5em;
}

figcaption a svg {
    vertical-align: text-top;
}

ul {
  list-style-type: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

nav.small ul {
    display: inline-block;
    vertical-align: top;
}

nav.small li {
    display: inline-block;
}

li a {
    display: block;
    text-decoration-color: rgba(254, 250, 251, 0.7);
}

ul li a:hover {
    color: var(--link-500);
    text-decoration-color: rgba(230, 65, 105, 1);
}

main {
    z-index: 2;
    position: relative;
}

a[href^="mailto:"] {
    color: var(--link-500);
}

.single h1 {
    text-align: center;
}

.single p {
    text-align: center;
}

/*.path {*/
/*    stroke-dasharray: 1000;*/
/*    stroke-dashoffset: 1000;*/
/*}*/

/*@keyframes dash {*/
/*  to {*/
/*    stroke-dashoffset: 0;*/
/*  }*/
/*}*/

/*.zigzag:hover .path{*/
/*    animation: dash 1.5s linear forwards;*/
/*}*/

svg {
    vertical-align: middle;
}

.grid {
    width: 90%;
    width: 90vw;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, -webkit-min-content) repeat(19,21vh);
    grid-template-rows: repeat(2, min-content) repeat(19,21vh);
    grid-gap: 2em;
    padding: 2.55%;
    padding: 2.55vw;
    max-width: 1920px;
    margin: 0 auto;
}

.header-home {
    grid-row: span 2;
    display: grid;
    grid-gap: 1em;
    width: 100%;
    height: 100%;
}

.logo {
    max-width: 45%;
    justify-self: center;
    align-self: center;
}


.header-home-items {
    justify-self: center;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
}

.spacer {
    position: absolute;
    z-index: -1;
    display: block;
    background-size: cover;
}

.spacer + .spacer {
    top: 0;
    left: 0;
}

.spacer-home + .spacer-home {
    width: 69.5%;
    width: 69.5vmax;
    height: 66%;
    height: 66vmax;
    min-height: 45em;
    min-width: 48em;
    background-image: url("images/one.svg");
    max-width: 100%;
    max-width: 100vw;
}

.spacer-home {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 69.5%;
    width: 69.5vmax;
    height: 43%;
    height: 43vmax;
    min-height: 30em;
    min-width: 48em;
    background-image: url("images/two.svg");
}

.overflow {
    overflow-x: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}


.thumbnailWrap {
    margin: 15px;
    width: 300px;
    height: 500px;
    display: inline-block;
    vertical-align: middle;
    color:  var(--primary-500);
    text-decoration-color: rgba(9, 37, 67, 0.8);
    transition: ease 0.25s;
}

@supports (display:grid) {
    .thumbnailWrap {
        margin: 0;
        grid-row: span 3;
        width: 100%;
        height: 100%;
        display: block;
    }
}

.thumbnailWrap:hover, .thumbnailWrap:hover h3{
    color:  var(--link-500);
    text-decoration-color: rgba(230, 65, 105, 1);
}

.thumbnail, .Personal > figure {
    height: 100%;
    width: 100%;
    display: grid;
    overflow: hidden;
    grid-template-rows: 1fr -webkit-max-content,;
    grid-template-rows: 1fr max-content;
}

.thumbnail {
    grid-row: span 3;
    background-color: rgba(254, 250, 251,1);
    position: relative;
    transition: 0.25s ease;
    grid-template-rows: -webkit-max-content 1fr;
    grid-template-rows: max-content 1fr;
}

.thumbnail:after {
    content: "";
    background-color: rgba(254, 250, 251,1);
    height: 200%;
    width: 200%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-position: 25px -25px;
    background-size: 300px;
    background-image: url("images/dot.svg");
    background-repeat: repeat;
    transition: 0.25s ease;
}

.thumbnail:hover {
    background-color: rgba(254, 250, 251,0);
}

.thumbnail:hover:after {
    background-position: 0;
    animation: slide 7.5s linear infinite;
    animation-delay: 0.25s;
}

.thumbnailImage, .grid figure > img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.expandableContent {
    display: block;
    max-width: 100%;
    max-height: 100vh;
    position: relative;
}

.expandableContent {
    transition: ease 0.25s;
}

.expandableContent:hover {
    filter: brightness(0.8);
}

@keyframes slide {
    from {
        transform: translate3d(0, 0, 0);
        }
    to {
        transform: translate3d(-50%, 50%, 0);
        }
}


nav {
    grid-column: 1;
    grid-row: 3/4;
}

#top {
    grid-column: -1/-2;
    grid-row: auto;

}

#bottom {
    grid-column: 1/2;
    grid-row: auto;
}

footer {
    grid-row: span 2;
    align-self: end;
    justify-self: end;
}

@media(min-width:635px) {
    h1 {
        font-size: 4.5em;
    }
    .grid {
        width: 90%;
        width: 90vw;
        padding: 5%;
        padding: 5vw;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, -webkit-min-content) repeat(11,21vh);
        grid-template-rows: repeat(2, min-content) repeat(11,21vh);
    }
    .header-home {
        grid-column: span 2;
        grid-template-columns: minmax(-webkit-min-content, -webkit-max-content) -webkit-min-content;
        grid-template-columns: minmax(min-content, max-content) min-content;
        grid-template-rows: 1fr;
    }
    .logo {
        max-width: 100%;
        max-height: 48%;
        max-height: 48vh;
        max-height: calc(42vh + 4em);
        align-self: auto;
    }
    .header-home-items {
        justify-self: center;
        width: auto;
    }
    #top {
        grid-column: -1/-2;
        grid-row: span -2/-3;
    }

    #bottom {
        grid-column: 1/2;
        grid-row: 3/4
    }
    
}

@media(min-width:775px) {
    .spacer-home + .spacer-home {
        min-width: 58em;
        min-height: 55em;
    }
    .spacer-home {
        min-width: 58em;
        min-height: 36em;
    }
}

@media(min-width:1080px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(2, minmax(120px, 21vh)) repeat(7,21vh);
        grid-gap: 4em
    }
    #top {
        grid-column: -1/-2;
        grid-row: 1/2
    }
}

@media (min-height:1080px) {
    .grid {
        grid-template-rows: repeat(2, -webkit-min-content) repeat(19,200px);
        grid-template-rows: repeat(2, min-content) repeat(19,200px);
    }
}


@media(min-width:635px) and (min-height:1080px) {
    .grid {
        grid-template-rows: repeat(2, -webkit-min-content) repeat(11,200px);
        grid-template-rows: repeat(2, min-content) repeat(11,200px);
    }
}


@media(min-width:1080px) and (min-height:1080px) {
    .grid {
        grid-template-rows: 150px repeat(8,200px);
    }
}

.nav--small svg {
    height: 58px;
    width: auto;
}

.nav--small path {
    -webkit-transition: 0.25s ease;
    -o-transition: 0.25s ease;
    transition: 0.25s ease;
}

.nav--small a:hover path {
    fill: var(--link-500);
}

.nav--small {
    width: 93%;
    width: 95vw;
    max-width: 1920px;
    margin: 0 auto 1em auto;
    padding-top: 8px;
}

.nav--small li a {
    padding: 16px;
}

.nav__ul--small {
    display: inline-block;
    vertical-align: top;
}

.nav__li--small {
    display: inline-block;
}

.work-h1 {
    color: var(--link-500);
}

.work-h2 {
    font-size: 2.25em;
    color: var(--primary-500);
}


.work-p-header {
    padding-top: 1em;
}

#modalCaption a, .work a {
    color: var(--link-500);
}

.work-main {
    width: 90%;
    width: 90vw;
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--neutral-900);
    padding-bottom: 1em;
    margin-bottom: 2em;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(min-content, max-content);
    grid-gap: 1rem;
    box-sizing: border-box;
    padding: 1em 1rem;
    background-image: url(images/dotHeader.svg);
    background-repeat: no-repeat;
    background-size: 600px;
}

.work-main.Personal {
    grid-auto-rows: 40vh;
    grid-template-rows: min-content;
}

.Personal figcaption {
    text-align: center;
}

@media(min-width: 950px) {
    .work-main {
        width: 85%;
        width: 85vw;
        padding: 1em 2.5rem;
        grid-template-columns: calc(50% - 1.5rem) calc(50% - 1.5rem);
        grid-gap: 1.5rem 3rem;
    }
    .work-main.Personal {
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 30vh;
    }

}

/*header.work.REI {*/
/*    background-image: url("images/reiThumb.svg"), url("images/dot.svg");*/
/*    background-position: 40em, 25px -22px;*/
/*    background-position: 80ch, 26px -28px;*/
/*}*/
/*header.work.Arlo {*/
/*    background-image: url("images/arloThumb.svg"), url("images/dot.svg");*/
/*    background-position: 40em, 25px -22px;*/
/*    background-position: 80ch, 24px -23px;*/
/*}*/
/*header.work.LASO {*/
/*    background-image: url("images/lasoThumb.svg"), url("images/dot.svg");*/
/*    background-position: 40em, 25px -22px;*/
/*    background-position: 80ch, 23px -20px;*/
/*}*/
/*header.work.LDC {*/
/*    background-image: url("images/ldcThumb.svg"), url("images/dot.svg");*/
/*    background-position: 40em, 25px -22px;*/
/*    background-position: 80ch, 27px -25px;*/
/*}*/
/*header.work.PROOF {*/
/*    background-image: url("images/proofThumb.svg"), url("images/dot.svg");*/
/*    background-position: 40em, 25px -22px;*/
/*    background-position: 80ch, 21px -26px*/
/*}*/
/*header.work.Palmetto {*/
/*    background-image: url("images/palmettoThumb.svg"), url("images/dot.svg");*/
/*    background-position: 40em, 25px -22px;*/
/*    background-position: 80ch, 21px -26px;*/
/*}*/
/*header.work.Personal {*/
/*    background-image: url("images/personalThumb.svg"), url("images/dot.svg");*/
/*    background-position: 40em, 25px -22px;*/
/*    background-position: 80ch, 25px -22px;*/
/*    grid-column-end: -1;*/
/*    grid-column-start: 1;*/
/*}*/

header.Personal + section article figure:nth-child(1) {
    margin-top: 1.5em;
}

.work-header {
    /* padding: 1em 1rem 1em 1rem; */
    background-size: 75%, 300px;
    background-size: 75vw, 300px;
    background-repeat: no-repeat, repeat;
    overflow-x: hidden;
    grid-column-end: -1;
    grid-column-start: 1;
}

.work-header-section {
    width: 100%;
}

.spacer-small + .spacer-small{
    width: 43.57%;
    width: 43.57vmax;
    min-width: 20em;
    height: 41%;
    height: 41vmax;
    min-height: 19em;
    background-image: url("images/three.svg");
}

.spacer-small {
    bottom: -2em;
    right: -1px;
    width: 34%;
    width: 34vmax;
    height: 21%;
    height: 21vmax;
    min-height: 12em;
    min-width: 20em;
    background-image: url("images/four.svg");
}

.work-b {
    display: none;
}

@media(min-width:950px) {
    .work-b {
        display: block;
        height: 40vh;
        height: 40vmin;
    }
}

.workGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
    grid-template-rows: repeat(auto-fill, 200px);
    
}

.expandableContent {
    object-fit: contain;
    max-width: 100%;
    max-height: 100vh;
}

.expandableContent-personal, .expandableContent-personal {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.work-figure {
    justify-self: center;
    position: relative;
    width: fit-content;
}

.expandBtn, #close {
    position: absolute;
    background-color: rgba(251, 233, 238, 0.2);
    bottom: 2.5em;
    right: 1.25em;
    left: calc(100% - 5rem);
    border-radius: 50%;
    margin-top: 0;
    padding: 0;
    height: 3.5rem;
    width: 3.5rem;
    -webkit-transition: 0.25s ease;
    -o-transition: 0.25s ease;
    transition: 0.25s ease;
}

.expandBtn-caption {
    bottom: 3.5em;
}

.gridDense .expandBtn {
    position: absolute;
    bottom: 1.5em;
}

.expandableContent:hover .expandBtn:hover, .expanableBtn:hover, #close:hover, #next:hover svg, #previous:hover svg {
    background-color: #1ac9c7;
}

.workGrid img, .gridDense img {
    width: auto;
    -o-object-fit: cover;
    object-fit: cover;
}

@supports (display: grid) {
    .workGrid img, .gridDense img {
        width: 100%;
    }
}

.gridDense {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    grid-auto-flow: dense;
    grid-gap: 1em;
    margin: 0 auto 2em auto;
    max-height: initial;
}

.center {
    justify-self: center;
    margin: 0 auto;
    text-align: center;
}

.Personal .tall {
    grid-row: span 2;
}

.wide {
    width: 100%;
}

@media (min-width:950px) {
    .medium {
        grid-row: span 2;
    }
    .tall {
        grid-row: span 3;
    }
    .Personal .tall {
        grid-row: span 3;
    }
    .wide {
        grid-column: span 2;
        width: 80vw;
    }
    .Personal .wide {
        grid-row: span 2;
    }
}

.right {
    justify-self: center;
}

.left {
    justify-self: center;
}


@media (min-width:950px) {
    .right {
        justify-self: end;
    }
    
    .left {
        justify-self: start;
    }
    
    .top {
        align-self: start;
    }
    
    .bottom {
        align-self: end;
    }
}

.quarter {
    max-width: 45%;
    max-height: 130%;
    max-height: 130vh;
    -o-object-fit: contain;
    object-fit: contain;
}

.half {
    max-width: 45%;
    vertical-align: top;
}

.third {
    max-width: 60%;
    max-height: 130%;
    max-height: 130vh;
    -o-object-fit: contain;
    object-fit: contain;
}

.twoThird {
    max-width: 75%;
    max-height: 130vh;
    max-height: 130vh;
    -o-object-fit: contain;
    object-fit: contain;
}

.full {
    max-width: 96%;
}

.sideBy {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));
    margin: 0 auto 2em auto;
    width: 80%;
}

.sideBy img {
    height: auto;
    -o-object-fit: contain;
    object-fit: contain;
    max-width: 80%;
    max-width: 80vw;
}

audio {
    margin-left: 4rem;
}

@media(min-width:950px) {
    iframe {
        grid-column: span 2;
    }
    .work-main {
        width: 85%;
        width: 85vw;
    }
    .quarter, .third, .twoThird, .half {
        max-width: 100%;
    }
}

@media(min-width:950px) {
    .work-header {
        padding: 2em 0 1em 0;
        /* min-width: 65ch; */
        max-width: 80ch;
        grid-column: 2/3;
    }
    .work-header.Personal {
        grid-column: -1/1;
    }
    .work-h2 {
        padding: 0.5em 0;
    }
    .work-h2 + p {
        padding: 0 0;
    }
}

.single-main {
    display: grid;
    margin: 0 auto;
    background-color: var(--neutral-900);
    padding: 1.5em;
    max-width: 85%;
    max-width: 85vw;
}

.double-main {
    display: grid;
    grid-template-columns: auto;
    max-width: 95%;
    max-width: 95vw;
    margin: 0 auto;
}

.double-img {
    height: 50%;
    height: 50vh;
    min-height: 250px;
    width: auto;
    margin: 0 auto;
    justify-self: center;
    display: block;
}

@supports (-o-object-fit: contain) or (object-fit: contain) {
    .double-img {
        width: 75%;
        -o-object-fit: contain;
        object-fit: contain;
    }
}

.double-section {
    background-color: var(--neutral-900);
    padding: 1.5em;
    margin: 0 auto;
    justify-self: center;
    position: relative;
    bottom: 15%;
    bottom: 15vh;
    max-width: 85%;
}

.double-section-contact {
    width: 85%;
    max-width: 600px;
}

.single-h1, .single-h2, .double-h1, .double-h2 {
    color: var(--primary-500);
}

.double-p {
    padding-top: 1em;
}

@media(min-width:450px) {
    .double-main {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        max-width: 1000px;
    }
}

@supports (display:grid) {
    @media(min-width:915px) {
        .double-img {
            width: 120%;
            justify-self: auto;
            height: auto;
            object-fit: contain;
        }
        
        .double-section {
            justify-self: auto;
            position: static;
            width: fit-content;
        }
        .double-section-contact {
            max-width: 85%;
        }
    }
}

#submitIcon {
    position: absolute;
    right: 1em;
    bottom: 1.2em;
    height: 2em;
}

#success {
    font-family: Lato-bold;
    font-size: 1em;
    color: #1AC9C7;
    padding-left: 0.5em;
}

#success.failure {
    color: var(--link-500);
}

#success img {
    vertical-align: middle;
    margin-right: 3px;
    height: 2em;
}

#error1, #error2, #error3 {
    position: absolute;
    right: 0.5em;
    height: 1.5em;
    top: 3em;
}

#errorText1, #errorText2, #errorText3 {
    font-family: Lato-regular;
    left: 1.2em;
    position: relative;
    color: var(--link-500);
}

.contact-textarea {
    height: 175px;
    width: 100%;
    resize: vertical;
}

#name, #email, #message {
    width: 100%;
}

.contact-input, textarea, .conctact-button {
    padding: 1.5em 2em 1.5em 1.5em;
    margin-top: 1.5em;
    background-color: #FCECF1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-style: none;
    font-family: Lato-regular;
    font-size: 1em;
    color: var(--primary-500);
}

label {
    font-family: Lato-Regular;
    font-size: 1em;
}

.OlderBrowserChecker:placeholder-shown,
label {
    font-family: Lato-light;
    font-size: 0.9em;
}

.floatLabel:nth-child(1) {
    margin-top: 2em;
    margin-right: 0;
}

.contact-button {
    margin-top: 1em;
    background-color: var(--primary-500);
    color: var(--neutral-900);
    -webkit-transition: 0.25s ease;
    -o-transition: 0.25s ease;
    transition: 0.25s ease;
    font-family: Lato-Bold;
    width: 160px;
    position: relative;
}

.contact-button:hover {
    background-color: #1AC9C7;
}

.contact-button:disabled {
    background-color: #1AC9C7;
}

.inactive {
    opacity: 0;
    -webkit-transition: 0.25s ease;
    -o-transition: 0.25s ease;
    transition: 0.25s ease;
}

.contact-button:hover .inactive {
    opacity: 1;
}

.floatLabel {
    position: relative;
}


.floatLabel label {
    position: absolute;
    top: 5px;
    left: 1.2em;
    opacity: 1;
    -webkit-transition: 0.25s ease;
    -o-transition: 0.25s ease;
    transition: 0.25s ease;
}

.OlderBrowserChecker:placeholder-shown,
.floatLabel label {
    top: calc(2.5em + 5px);
    opacity: 0;
}


.floatLabel input:not(:placeholder-shown), .floatLabel textarea:not(:placeholder-shown) {
    padding-top: calc(1.5em + 5px);
    padding-bottom: calc(1.5em - 5px);
}

.floatLabel input:not(:placeholder-shown) + label, .floatLabel textarea:not(:placeholder-shown) + label {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
    opacity: 1;
}

.floatLabel input:focus, .floatLabel textarea:focus {
    outline: none;
    border-bottom: 3px solid #1AC9C7;
}

.floatLabel input:focus:not(:placeholder-shown) + label, .floatLabel textarea:focus:not(:placeholder-shown) + label {
    font-family: Lato-Regular;
    color: #1AC9C7;
}

#modal {
    display: none;
    position: absolute;
    top: 0;
    padding: calc(4em + 56px) 0 1em 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--neutral-700);
    box-sizing: border-box;
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
}

#modalImg, #modalVideo {
    display: none;
    margin: auto;
    max-width: 95vw;
    cursor: -moz-zoom-auto;
    cursor: -webkit-zoom-auto;
    cursor: auto;
}

#modalVideo {
    max-height: 100%;
}

#modalCaption {
    margin: auto;
    display: block;
    color: var(--primary-500);
    width: fit-content;
    padding: 1em;
    font-family: Lato-Regular;
}

#modal button {
    position: fixed;
}

#close {
    right: 1%;
    top: 1em;
    z-index: 3;
}

#previous, #next {
    height: 100%;
    bottom: 0;
    border-radius: 0;
    margin-top: 0;
    padding: 0;
    width: 3.5rem;
    background-color: rgba(0,0,0,0);
}

#previous:focus, #next:focus {
    outline: none;
}

#previous:focus svg, #next:focus svg{
    outline-style: auto;
}

#previous {
    left: 1%;
}

#next {
    right: 1%;

}

#next > svg, #previous > svg {
    border-radius: 50%;
    height: 3.5rem;
    width: 3.5rem;
    background-color: rgba(251, 233, 238, 0.2);
    -webkit-transition: 0.25s ease;
    -o-transition: 0.25s ease;
    transition: 0.25s ease;
}



.expandableContent {
    cursor: -moz-zoom-in;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
}

#close:hover, #close:focus, #previous:hover, #previous:focus, #next:hover, #next:focus {
  cursor: pointer;
}